
DirectoryIndex index.php index.html



RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule ^ index.php [QSA,L]



<Files "database.sqlite">

    Order allow,deny

    Deny from all

</Files>

